doctype html 
html(lang="ko")
    head 
        title #{pageTitle} | Wetube
        link(rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css")
    body 
        header 
            h1=pageTitle

            nav
                span
                    a(href="/") HOME

                ul

            nav
                ul
                    if loggedIn

                        li 
                            a(href="/users/logout") LOGOUT
                        li 
                            a(href="/users/edit") EDIT_PROFILE

                        li 
                            a(href=`/users/${loggedInUser._id}`) MY_PROFILE

                        li 
                            a(href="/videos/upload") UPLOAD_VIDEO  


                    else
                        li 
                            a(href="/join") JOIN
                        li 
                            a(href="/login") LOGIN

                    li
                        a(href="/search") SEARCH     
                

        main 
            block content
    include partials/footer.pug